.searchForm {
    display: flex;
    gap: 15px;
  }

.searchInput{
    width: 400px;
    height: 58px;
  padding: 0px 30px;
  margin-right: 20px;
  color: #f9f9f9;
  font-size: 18px;
  background-color: #252525;
  border: 1px solid #505050;
  border-radius: 10px;
  outline: none;
}

.searchButton {
    padding: 16px 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    border: none;
    border-radius: 10px;
  }
  .searchButton:hover{
    color: #a7a3a3;
    background-color: #252525;
  }

  :global(.light) .searchInput {
    color: #1f1f1f;
    background-color: #f9f9f9;
    border: 1px solid #cfcfcf;
  }

  :global(.light) .searchButton {
    color: #f9f9f9;
    background-color: #505050;
  }
  :global(.light) .searchButton:hover{
    color: #a7a3a3;
    background-color: #252525;
  }